<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>


<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/register/" method="post">
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" name="username" id="username" placeholder="username" />
			<input type="password" name="password" id="password" placeholder="password" />
			<input type="password" name="password1" id="password1" placeholder="confirm Password" />
			<button type="submit">Register</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method="post">
			{% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" id="username" placeholder="username" />
			<input type="password" id="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button type="submit"> Login</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
// Get the URL of the current page
window.onload = function() {
var currentURL = window.location.href;
console.log(currentURL)
// Check if the URL contains "/register"
if (currentURL.includes("/register")) {

console.log("register")
  document.getElementById("signUp").click();
}

// Check if the URL contains "/login"
if (currentURL.includes("/login")) {
  // Click on the "Sign In" button
  document.getElementById("signIn").click();
}
}
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});

</script>
</body>
</html>